{
    "include": [
      "src/**/*.ts"
    ],
    "exclude": [
      "node_modules",
      "tests"
    ],
    "reporter": [
      "text",
      "html"
    ],
    "extension": [
      ".ts"
    ]
  }
  